.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 8px solid transparent;
  border-top: 8px solid red;
  animation: spin 0.5s linear infinite;
  background: conic-gradient(
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    red
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(100% - 8px),
    black calc(100% - 7px)
  );
  mask: radial-gradient(
    farthest-side,
    transparent calc(100% - 8px),
    black calc(100% - 7px)
  );
}

.fade-in {
  animation: fadeIn 2s ease forwards;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
